<form [formGroup]="form" (ngSubmit)="submitForm()">
    <div>
        <label for="">Name:</label>
        <input type="text" formControlName="firstName">
    </div>

    <div>
        <label for="">Last Name:</label>
        <input type="text" formControlName="lastName"> {{ form.get('lastName')?.errors | json}}
    </div>

    <div>
        <label for="">Email:</label>
        <input type="text" formControlName="email"> {{ form.get('email')?.errors | json }}
    </div>

    <div>
        <label for="">Age:</label>
        <input type="number" formControlName="age">
    </div>

    <div>
        <button [disabled]="form.invalid">SUBMIT</button>
    </div>
    {{ form.valid | json }}
</form>