<div>
    <p>
        <strong>Olá, Arthur Correia</strong> <br>
        Ag: 9999, Co: 999999-9
    </p>
</div>

<div>
    <p>poupança: R$ <span id="get-savings">{{ getSavings }}</span></p>
    <input id="input-savings" type="text" #inputWithdraw>
    <button id="withdraw" (click)="withdrawMoney(inputWithdraw.value)"> Sacar </button>
</div>

<div>
    <p>carteira: R$ <span id="get-balance">{{ getBalance }}</span></p>
    <input id="input-balance" type="text" #inputDeposit>
    <button id="deposit" (click)="depositMoney(inputDeposit.value)"> Depositar </button>
</div>
