<!-- <app-titulo></app-titulo> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-diretivas-estruturais></app-diretivas-estruturais> -->
<!-- <app-diretivas-atributo>
    <h1>Diretivas de Atributo</h1>
    <hr>
</app-diretivas-atributo> -->
<!-- <app-input [count]="value"></app-input>
<button (click)="addInValue()">ADD</button> -->
<ng-template [ngIf]="getDados">
    <h1>
        {{getDados.name}} - {{getDados.age}}
    </h1>
</ng-template>
<app-output (sharedDados)="setDados($event)"></app-output>
<router-outlet></router-outlet>