<h2>ngIf</h2>
<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
    <p>False</p>
</ng-template>
<p *ngIf="conditionClick">True</p>
<p *ngIf="!conditionClick">False</p>
<button (click)="onClick()">Click</button>
<hr>
<h2>ngFor</h2>
<input [(ngModel)]="newName">
<input type="number" [(ngModel)]="newAge">
<button (click)="addPerson()">add</button>
<ul>
    <li *ngFor="let person of people; let i = index" (click)="deletePerson(person)">[{{i+1}}] {{person.name}}, {{person.age}} anos</li>
</ul>