<form #form="ngForm" (ngSubmit)="submitForm(form)">
    
    <!-- input text -->
    <label>Name:</label>
    <input type="text" name="name" #name="ngModel" [ngModel]="name.value" required> 
    <span *ngIf="name.invalid">Invalid</span> <br>
    {{name.valid}}
    {{name.dirty}}
    {{name.touched}} <br>

    <!-- input radio -->
    <label>Male:</label>
    <input type="radio" name="gender" value="male" ngModel> <br>
    <label>Feminine:</label>
    <input type="radio" name="gender" value="feminine" ngModel> <br>
    <label>Other:</label>
    <input type="radio" name="gender" value="other" id="other" ngModel> <br>

    <!-- input checbox -->
    <label>Angular:</label>
    <input type="checkbox" name="angular" ngModel> <br>
    <label>Vue:</label>
    <input type="checkbox" name="vue" ngModel> <br>
    <label>React:</label>
    <input type="checkbox" name="react" ngModel> <br>

    <!-- select -->
    <select name="food" ngModel>
        <option value="">Selecione um lanche</option>
        <option *ngFor="let food of foods" [ngValue]="food">
            {{food.name}} - R$ {{food.price}}
        </option>
    </select>

    <div>
        <button [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>

<p>{{form.value | json}}</p>
<p>{{form.name}}</p>