<form #form="ngForm">
    
    <!-- input text -->
    <label for="name">Name:</label>
    <input type="text" name="nome" id="name" ngModel> <br>

    <!-- input radio -->
    <label>Male:</label>
    <input type="radio" name="gender" value="male" ngModel> <br>
    <label>Feminine:</label>
    <input type="radio" name="gender" value="feminine" ngModel> <br>
    <label>Other:</label>
    <input type="radio" name="gender" value="other" id="other" ngModel> <br>

    <!-- input checbox -->
    <label>Angular:</label>
    <input type="checkbox" name="angular" ngModel> <br>
    <label>Vue:</label>
    <input type="checkbox" name="vue" ngModel> <br>
    <label>React:</label>
    <input type="checkbox" name="react" ngModel> <br>

    <!-- select -->
    <select name="food" ngModel>
        <option value="">Selecione um lanche</option>
        <option *ngFor="let food of foods" [ngValue]="food">{{food.name}}</option>
    </select>

    <div>
        <button (click)="submitForm(form.value)">SUBMIT</button>
    </div>
</form>

{{form.value | json}}