<h2>Interpolation</h2>
<p>Olá, me chamo {{nome}} e tenho {{idade}} anos!</p>
<p>{{nome}} tem mais de 18 anos?</p>
<p>{{idade > 18}}</p>
<p>Quanto é {{idade}} + 1?</p>
<p>{{idade + 1}}</p>
<hr>
<h2>Property Binding</h2>
<button (click)="onOff()">Desabilitar/Habilitar</button>
<button [disabled]="buttonDisabled">O</button> <br>
<img [src]="imgSrc" [alt]="imgAlt">
<hr>
<h2>Event Binding</h2>
<button (click)="alertar('alerta, alerta!')">button 1</button>
<button (click)="exibirEvento($event)">button 2</button>
<div (mousemove)="mouseMoveTest($event)" class="container"></div>
<p>Posição: {{position.x}} - {{position.y}}</p>
<hr>
<h2>Two-Way Binding</h2>
<input [(ngModel)]="nome">
<span>{{nome}}</span>