* {
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
}

button {
    width: 250px;
    padding: 10px;
    border-radius: 30px;
    font-size: 1.1em;
    border-color: #FF002E;
    color: #FFFFFF;
    background-color: #FF002E;
}